* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: 'Arial', serif;
}

.navbar {
  background-color: #3b5998;
  height: 63px;
  overflow: hidden;
}

.navbar a {
  display: block;
  text-decoration: none;
  color: #f2f2f2;
  font-size: 17px;
  padding: 14px 16px;
  text-align: center;
  float: left;
}

ul.nav-navbar {
  list-style: none;
  padding: 8px 0 0 0;
}

.navbar a:hover {
  background: #ddd;
  color: #000;
}

.side-nav {
  width: 0;
  height: 100%;
  background-color: #111;
  position: fixed;
  top: 0;
  opacity: 0.9;
  transition: 0.5s;
  /* z-index: 1; */
  padding-top: 60px;
  overflow-x: hidden;
}

.side-nav a {
  text-decoration: none;
  display: block;
  padding: 10px 10px 10px 30px;
  font-size: 22px;
  color: #ccc;
  /* transition: 0.3s; */
}

.side-nav a:hover {
  color: #fff;
}

.side-nav .btn-close {
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
}

#main {
  padding: 20px;
  transition:0.5s;
}
